div {
    padding: 35px 50px;
  }
  
mat-form-field {
    width: 100%;
  }
/* 1st solution - causes weird thing at the left side of input */
::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }