
<table class="table align-middle">
    <tr>
        <th>{{rowName[0]}}</th>
        <th *ngFor="let player of  playerName">
            {{player}}
        </th>
    </tr>
    
    <tr>
        <th> {{rowName[1]}}</th>
        <th [ngClass] = "{'box-green' : currentScore>0, 'box-red':currentScore==0}" *ngFor="let currentScore of  playerCurrentScore"> 
            
        </th>
    </tr>
    <tr>
        <th>{{rowName[2]}}</th>
        <th *ngFor="let Score of  playerScore">
            {{Score}}
        </th>
    </tr>

</table>